/*Fonts*/
/* PlaywriteIS */
@font-face {
    font-family:'PlaywriteIS-VariableFont_wght';
    src: url(fonts/PlaywriteIS-VariableFont_wght.ttf) format('truetype');
}

/* RubikVinyl-Regular */
@font-face {
    font-family:'RubikVinyl-Regular.ttf';
    src: url(fonts/RubikVinyl-Regular.ttf) format('truetype'); 
}

/* Jersey15-Regular */
@font-face {
    font-family: 'Jersey15-Regular';
    src: url(fonts/Jersey15-Regular.ttf);
}

/*Styles*/
    body { 
        color: white;
        background-color: rgb(122, 3, 0);
        padding: 0;
        margin: 0;
        overflow: hidden;
    }

    header {
        background: black;
        padding: 0 0 268px 0;
        text-align: center;  
    }

    /* Profile Picture */
    section {
        background-image: url("ashpfp.png");
        background-repeat: no-repeat;
        background-position: center;
        height: 250px;
        position: relative;
        top: -95px;  
    }

    /* Name */
    h1 {    
        font-family:'RubikVinyl-Regular.ttf','Franklin Gothic Medium';
        text-align: center;
        transition: all 3s;
        position: relative;
        top: -115px; 
    }

    /* Paragraph Text */
    p {
        font-family:'PlaywriteIS-VariableFont_wght','Franklin Gothic Medium';
        text-align: center;
        font-size: 20px;
        transition-duration: 5s;
        position: relative;
        top: -80px; 
    }

    /* End */ 
    footer {
        background: black;
        margin : 185px 0 0 0;
        padding : 0 0 125px 0;
    }
   
/* Non PC Devices */
/* Bigger Devices */
@media screen and (min-height: 980px){
    header{
        margin: auto;
        padding: 0 0 450px 0;
    }

    footer{
        background: black;
        margin: auto;
        padding: 0 0 500px 0 ;
    }
}

/* Phones */
@media screen and (max-height: 935px){
    header{
        position: relative;
        top: -70px;
    }

    section{
        position: relative;
        top: -140px;
    }

    h1{
        position: relative;
        top: -130px;
    }

    p{
        position: relative;
        top: -115px;
    }

    footer{
        background: black;
        margin: auto;
        padding: 0 0 250px 0 ;
    }
}

/* Smaller Devices */
@media screen and (max-height: 740px){
    header{
        position: relative;
        bottom: 85px;
    }

    section{
        position: relative;
        top: -180px;
    }

    h1{
        position: relative;
        top: -190px;
    }
    
    p{
        position: relative;
        top: -190px;
    }

    footer{
        background: black;
        position: relative;
        top: -150px;
    }    
}