/*Styles*/
body { 
    color: #f3e2e2ce;
    background: #7a0000;
    margin: auto;
    overflow: hidden;
}
.snowflake{
    position: relative;
    display: flex;

}
.snowflake span{
    position: relative;
    width: 30vw;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    margin: 0 px;
    box-shadow: 0 0 0 10px white,
    0 0 50px #f3e2e2ce,
    0 0 60px #f3e2e2ce;
    animation: snowflake 10s linear infinite;
    animation-duration: calc(215s /var(--ashik-snowflake));
}
@keyframes snowflake{
    0%{
        transform: translateY(-100vh) scale(0)
    }
    100%{
        transform: translateY(100vh) scale(1)
    }
}

.top {
    background: #060606;
    padding-top:20vh;
    
}
.wavetop{
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.wavemiddletop{
    position: relative;
    fill: #8a0b09;
}

.ashpfp {
    background-image: url("ashpfp.jpg");
    bottom: 26vh;
    height: 250px;
    max-width: 260px;
    background-size: 100%;
    position: relative;
    margin: auto;
    border-radius: 100%;
    border: 10px solid #060606;
}

/* Name */
    h1 {
        font-family:'Jersey15-Regular','Franklin Gothic Medium';
        bottom: 28vh;
        font-size: 45px;
        text-align: center;
        position: relative;
    }

    /* Paragraph Text */
    p {
        font-family:'PlaywriteIS-VariableFont_wght','Franklin Gothic Medium';
        bottom: 32vh;
        font-size: 23px;
        text-align: center;
        position: relative;
    }

        /* More Info */
    h2 {
        font-family:'PlaywriteIS-VariableFont_wght','Franklin Gothic Medium';
        bottom: 3vh;
        font-size: 19px;
        text-align: center;
        position: relative;
    }

    .bottom {
        background: #060606;
        padding-bottom: 50vh;
    }

    .wavebottom{
        position: absolute;
        bottom: 0;
        width: 100%;
        transform: rotate(180deg);
        overflow: hidden;

}
