/*Add Fonts Are Here */
@font-face {
    font-family:'PlaywriteIS-VariableFont_wght';
    src: url(../fonts/PlaywriteIS-VariableFont_wght.ttf) format('truetype');
}
@font-face {
    font-family:'RubikVinyl-Regular.ttf';
    src: url(/../fonts/RubikVinyl-Regular.ttf) format('truetype'); 
}
@font-face {
    font-family:'Jersey15-Regular';
    src: url(../fonts/Jersey15-Regular.ttf);
}

/* Add Styles Are Here*/
    body { 
        background-color: rgb(0, 95, 65);
        margin: 0;
    }

    header {
        background: rgb(0, 87, 50);
        padding: 0 0 250px 0;
        text-align: center;  
        text-indent: -99999px;
    }

    section {
        background-image: url("../pics/Wonderpfp.png");
        background-repeat: no-repeat;
        background-position: center;
        height: 295px;
        position: relative;
        top: -125px;  
        text-indent: -99999px;
    }

    h1 {    
        font-family: 'Jersey15-Regular','Franklin Gothic Medium';
        text-align: center;
        position: relative;
        top: -125px; 
    }

    p {
        font-family: 'PlaywriteIS-VariableFont_wght','Franklin Gothic Medium';
        text-align: center;
        font-size: 30px;
        position: relative;
        top: -120px; 
    } 

    footer {
        background: rgb(0, 109, 96);
        margin : 108px 0 0 0;
        padding : 0 0 83px 0;
        text-indent: -99999px;      
    }

    a {
        text-decoration-line: none;
        color: #000;
    }